h1{
color:rgba(255, 251, 3, 0.925)
}
img{
    width: 450px

}

h2{
    color:rgba(255, 251, 3, 0.925)
}


p{
    color:rgba(255, 251, 3, 0.925)
}


body{
    text-align: center;
    background-color:black
}




